In [1]:
import pandas as pd
import numpy as np

In [32]:
name = ['Andre', 'Thomas', 'Michael', 'Carol', 'Natasha']
age = [23, 25, 24, 27, 25]
gender = ['Male', 'Male', 'Male', 'Female', 'Female']

data = {}
for i in range(5):
    data[i] = {"Name": name[i], "Age": age[i], "Gender": gender[i]}
    
# Create a DataFrame with the objects above
df_h = pd.DataFrame(data)

# Transpose (Reflect by writing rows as columns and vice-versa)
df = df_h.transpose()
df.head()

      Name Age  Gender
0    Andre  23    Male
1   Thomas  25    Male
2  Michael  24    Male
3    Carol  27  Female
4  Natasha  25  Female

In [33]:
# Save DataFrame
df.to_csv('../data/processed/mct_explanation.csv')